<!DOCTYPE html>
<html>
<head>
	<title> X-Market </title>

	<!-- Including google font Josefin Sans -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab" rel="stylesheet">
	<!-- Including bootstrap v3.3.7 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Including jquery v3.2.1 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Including socket.io file v2.0.3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

	<!-- Custom CSS to make it look presentable -->
    <style>
		.font{
			font-family: 'Josefin Slab', serif;
			text-align:center;
			font-size: 40px;
			font-weight:bold;
		}
		textarea {
			font-family: 'Josefin Slab', serif;
			width: 100%;
			min-height: 50px;
			font-size: 20px;
			padding: 12px 20px;
			margin: 8px 0;
			border: 2px solid #4db8ff;

		}

		input[type=button]{
			font-family: 'Josefin Slab', serif;
			width: 100%;
			background-color: #4db8ff;
			border: none;
			color: white;
			font-size: 30px;
			padding: 16px 32px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 15px;
		}
		input:hover{
			 background-color: #008ae6;
		}
		input:focus,
		textarea:focus,
		button:focus {
			outline: none;
		}

		/* .table-hover tbody tr:hover > td {
		    cursor: pointer;
		} */

	</style>
</head>
<body>
	<div class="container">
		<div class="col-md-12">
			<!-- <canvas id="myChart" width="400" height="200"></canvas> -->
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<div>
				<table class="table table-hover" style="border-collapse:collapse;" id="my_table">
					<thead></thead>
					<tbody></tbody>
					<!-- <thead>
					<tr>
						<td><h1 class="font">Platform</h1></td>
						<td><h1 class="font">Pair</h1></td>
						<td><h1 class="font">Difference</h1></td>
						<!-- <td><h1 class="font">Difference Graph (7d)</h1></td> -->
						<!-- <td><canvas id="myChart" width="400" height="200"></canvas></td> -->
					<!-- </tr>
				</thead> -->
				</table>
			</div>
		</div>
	</div>

	<script>

	//Jquery code starts
	$('document').ready(function(){
		const ADDRESS = "<%= address %>";
		// const domain = "http://127.0.0.1:"+PORT;
		// const domain = 'http://localhost:'+PORT;
		// const domain = 'https://x-market-mvp.herokuapp.com/';
		//Connecting the socket to host and port
		var socket = io.connect(ADDRESS);
		socket.on('data_propagation' , function(input){
			$('#low_platform_0').val(input.data[0].platform_name);
			$('#low_price_0').val(input.data[0].price);

			$('#my_table thead').html(
			  '<tr><td><h1 class="font">' + 'Platform' +
			  '</h1></td><td><h1 class="font">' + 'Pair' +
			  '</h1></td><td><h1 class="font">' + 'Difference' +
			  // '</h1></td><td><h1 class="font">' + 'Difference Graph (7d)' +
			  '</h1></td></tr>');

			$('#my_table tbody').html('')
			// for (var i=0; i<input.data.length; i++){
			for (var i=0; i<3; i++){

				$('#my_table tbody').append(
					'<tr class="text-center" id="' + i + '">' +
					'<td>' + input.data[i].high + '	--> ' + input.data[i].low +
					'</td><td>' + input.data[i].pair +
					'</td><td>' + input.data[i].difference + ' %' +
					'</td></tr>' +
					'<tr><td colspan="3"><p><canvas id="myChart' + i + '" width="400" height="200"></canvas> <p>' +
					// '<tr><td colspan="3"><p><canvas id="myChart' + i + '" width="400" height="200"></canvas>  <span style="margin-left: 30%; font-size: 20px;"> Chart will be Rendered Here...</span> <p>' +
					// '<tr><td colspan="3"><p><canvas id="myChart' + i + '" width="400" height="200"> <span><img src="img/loading.gif"></span> </canvas> </p>' +
					'</td></tr>');

			}


			// Create clickable hidden rows.
			$(function() {
				$("tr").find("td[colspan=3]").hide();
				$("table").click(function(event) {
					event.stopPropagation();
					var $target = $(event.target);
					if ( $target.closest("td").attr("colspan") > 1 ) {
						// Do nothing
						// $target.slideUp();
					} else {
					}
					$target.closest("tr").next().find("td[colspan=3]").slideToggle()

				});
			});


			// Send the data of the row to the server to construct the plot.
			$('#my_table').find('tr').click( function(){


				var index = $(this).index() / 2

				console.log('You clicked row '+ ($(this).index()+1) );
				var request = {
						'pair_request': input.data[index].pair,
						'high_request': input.data[index].high,
						'low_request': input.data[index].low
					}

				// Request the data for the plot of the clicked row.
				socket.emit('plot_request', {data: request});

				// Create the plot for the clicked row.
				socket.on('plot' , function(input){
					console.log(index)

					// It will create the plot for the specific plot eg: 'myChart3'
					var ctx = document.getElementById('myChart'+index).getContext('2d');

					var myChart = new Chart(ctx, {
						type: 'line',
						data: {
							labels: input.data.time,
							datasets: [{
								label: 'Difference: ',
								// data: [5, 10, 7, 12, 3],
								data: input.data.difference,
								backgroundColor: [
									'rgba(255, 159, 64, 0.2)'
								],
								borderColor: [
									'rgba(255, 99, 132, 1)',
								],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								yAxes: [{
									ticks: {
										beginAtZero: true
									}
								}]
							}
						},
					});
				})
			});



			// var ctx = document.getElementById('myChart').getContext('2d');
			//
			// var myChart = new Chart(ctx, {
			// 	// type: 'bar',
			// 	type: 'line',
			// 	data: {
			// 		// labels: input.data.time,
			// 		datasets: [{
			// 			label: 'Difference: ',
			// 			data: [5, 10, 7, 12, 3],
			// 			// data: input.data.difference,
			// 			backgroundColor: [
			// 				'rgba(255, 159, 64, 0.2)'
			// 			],
			// 			borderColor: [
			// 				'rgba(255, 99, 132, 1)',
			// 			],
			// 			borderWidth: 1
			// 		}]
			// 	},
			// 	options: {
			// 		scales: {
			// 			yAxes: [{
			// 				ticks: {
			// 					beginAtZero: true
			// 				}
			// 			}]
			// 		}
			// 	}
			// });

		})

		socket.on('data_ascending' , function(input){
			$('#low_platform_0').val(input.data[0].platform_name);
			$('#low_price_0').val(input.data[0].price);

			$('#my_table tbody').html(
			  '<tr><td><h1 class="font">' + 'Platform' +
			  '</h1></td><td><h1 class="font">' + 'Pair' +
			  '</h1></td><td><h1 class="font">' + 'Difference' +
			  '</h1></td></tr>');

			for (var i=0; i<input.data.length; i++){
				$('#my_table').append(
					'<tr class="text-center"><td>' + input.data[i].high + '	--> ' + input.data[i].low +
					'</td><td>' + input.data[i].pair +
					'</td><td>' + input.data[i].difference + ' %' +
					'</td></tr>');
			}
		})


	})



			// var timeFormat = 'MM/DD/YYYY HH:mm';
			//
			// function newDate(days) {
			// 	return moment().add(days, 'd').toDate();
			// }
			//
			// function newDateString(days) {
			// 	return moment().add(days, 'd').format(timeFormat);
			// }
			//
			// var color = Chart.helpers.color;
			// var config = {
			// 	type: 'line',
			// 	data: {
			// 		labels: [ // Date Objects
			// 			newDate(0),
			// 			newDate(1),
			// 			newDate(2),
			// 			newDate(3),
			// 			newDate(4),
			// 			newDate(5),
			// 			newDate(6)
			// 		],
			// 		datasets: [{
			// 			label: 'My First dataset',
			// 			// backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
			// 			// borderColor: window.chartColors.red,
			// 			fill: false,
			// 			data: [
			// 				randomScalingFactor(),
			// 				randomScalingFactor(),
			// 				randomScalingFactor(),
			// 				randomScalingFactor(),
			// 				randomScalingFactor(),
			// 				randomScalingFactor(),
			// 				randomScalingFactor()
			// 			],
			//
			// 		}]
			// 	},
			// 	options: {
			// 		title: {
			// 			text: 'Chart.js Time Scale'
			// 		},
			// 		scales: {
			// 			xAxes: [{
			// 				type: 'time',
			// 				time: {
			// 					parser: timeFormat,
			// 					// round: 'day'
			// 					tooltipFormat: 'll HH:mm'
			// 				},
			// 				scaleLabel: {
			// 					display: true,
			// 					labelString: 'Date'
			// 				}
			// 			}],
			// 			yAxes: [{
			// 				scaleLabel: {
			// 					display: true,
			// 					labelString: 'value'
			// 				}
			// 			}]
			// 		},
			// 	}
			// };

			// window.onload = function() {
			// 	var ctx = document.getElementById('myChart').getContext('2d');
			// 	window.myLine = new Chart(ctx, config);
			// };


	</script>

</body>
</html>
