<!DOCTYPE html>
<html>
<head>
	<title> X-Market </title>

	<!-- Including google font Josefin Sans -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab" rel="stylesheet">
	<!-- Including bootstrap v3.3.7 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Including jquery v3.2.1 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Including socket.io file v2.0.3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

	<script src="https://cdn.zinggrid.com/zinggrid.min.js"></script>
  	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>ZC.LICENSE = ['09c5964a057c3124ffaa293847e9aef4','d41d8cd98f00b204e9800998ecf8427e', 'faa38520146223e92b6b0d2fc89c0dc6'];</script>


	<!-- Custom CSS to make it look presentable -->
    <style>
		.font{
			font-family: 'Josefin Slab', serif;
			text-align:center;
			font-size: 40px;
			font-weight:bold;
		}
		textarea {
			font-family: 'Josefin Slab', serif;
			width: 100%;
			min-height: 50px;
			font-size: 20px;
			padding: 12px 20px;
			margin: 8px 0;
			border: 2px solid #4db8ff;

		}

		input[type=button]{
			font-family: 'Josefin Slab', serif;
			width: 100%;
			background-color: #4db8ff;
			border: none;
			color: white;
			font-size: 30px;
			padding: 16px 32px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 15px;
		}
		input:hover{
			 background-color: #008ae6;
		}
		input:focus,
		textarea:focus,
		button:focus {
			outline: none;
		}



		.component--container {
		  display: flex;
		}

		zing-grid {
		  --zg-pager-font-size:20px;
		  font-size: 20px;
		  --zg-head-cell-font-size: 30px;
		  --theme-font-family: 'Josefin Slab', serif;
		}

		.zc-license {
		  display:none;
		}




	</style>
</head>
<body>
	<div class="container">
		<div class="col-md-12">
			<!-- <canvas id="myChart" width="400" height="200"></canvas> -->
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<div>
				<!-- Open this for old table -->
				<!-- <table class="table table-hover" style="border-collapse:collapse;" id="my_table"> -->
					<thead></thead>
					<tbody></tbody>
					<!-- <thead>
					<tr>
						<td><h1 class="font">Platform</h1></td>
						<td><h1 class="font">Pair</h1></td>
						<td><h1 class="font">Difference</h1></td>
						<!-- <td><h1 class="font">Difference Graph (7d)</h1></td> -->
						<!-- <td><canvas id="myChart" width="400" height="200"></canvas></td> -->
					<!-- </tr>
				</thead> -->
				</table>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="col-md-12">
			<div class="component--container">
		      <zing-grid
			  	theme="ios"
				height="500"
				pager
				page-size="10"
				page-size-options="10,20,50"
			    layout="row"
			    layout-controls="disabled"
			    viewport-stop
				sort
				search>

		        <zg-colgroup>
					<zg-column index="high" header="Buy from" width="15%"></zg-column>
					<zg-column index="low" header="Sell to" width="15%"></zg-column>
					<zg-column index="pair" header="Pair" width="15%"></zg-column>
					<zg-column index="difference" header="Difference" width="15%" sort-desc></zg-column>

		          <zg-column index="plot" header="Last 7 days" sort=false renderer="_renderLineChart">
		            <div class="line-chart--spark"></div>
		  			</zg-column>
		        </zg-colgroup>
		      </zing-grid>
		      <div id="myChart"></div>
		    </div>
		</div>
	</div>


	<script>



	const ZingChartConfig = function(type, series) {
	  return {
	    type,
	    theme: 'spark',
	    tooltip: {
	      visible: type != 'pie' ? false : true,
	    },
	    crosshairX:{

	    },
	    series,
	  };
	};

	function _renderLineChart(ctv, cellRef, $cell) {
	  let zcRef = cellRef.querySelector('.line-chart--spark');
	  let id = `line-chart-${Math.floor(Math.random() * 99999)}`;
	  zcRef.setAttribute('id', id);
	  let mapValues = ctv.map(function(trend) {
	    return trend.Difference;
	  });
	  // render line chart
	  zingchart.render({
	    id,
	    data: ZingChartConfig(
	      'line',
	      [{
	        values:mapValues
	      }]
	    ),
	    height: 100,
	    width: 150,
	  });
	}


	window.addEventListener('load', () => {
		const ADDRESS = "<%= address %>";
		var socket = io.connect(ADDRESS);

		socket.on('table_data' , function(input){
			let zgRef = document.querySelector('zing-grid');
			const data = input.data
			console.log(input)

			// for (i in data) {
			// 	data[i].plot =
			// 	[
			//       {
			//         "Date": "3/4/2017",
			//         "Close": 138.96
			//       },
			//       {
			//         "Date": "10/2/2016",
			//         "Close": 113
			//       },
			//       {
			//         "Date": "5/2/2016",
			//         "Close": 93.42
			//       },
			//       {
			//         "Date": "12/5/2015",
			//         "Close": 113.18
			//       },
			//       {
			//         "Date": "7/1/2015",
			//         "Close": 132.07
			//       }
			//     ]
			// }

			zgRef.setData(data);

		})
	});







	</script>

</body>
</html>
